.sign_in_panel {
	padding-left: 35%;
	padding-right: 35%;
	padding-top: 2%;
}

.admin_panel_title {
	padding-left: 35%;
	padding-top: 3%;
}

.popup p {
	font-size: 25px;
	text-align: center;
	padding-top: 2%;
}
