.sign_in_panel {
	padding-left: 35%;
	padding-right: 35%;
	padding-top: 2%;
}

.admin_panel_title {
	padding-left: 35%;
	padding-top: 3%;
}

.popup p {
	font-size: 25px;
	text-align: center;
	padding-top: 2%;
}

.admin_panel_column_titles {
	display: flex;
	flex-direction: row;
}

.admin_panel_column_titles h4 {
	padding-left: 24.75%;
}

.admin_panel_colum_p1 {
	padding-left: 19%;
	font-size: 18px;
}

.admin_panel_colum_p2 {
	padding-left: 27%;
	font-size: 18px;
}

.admin_panel_title_wordpairs {
	display: flex;
	flex-direction: row;
	padding-left: 35%;
	padding-top: 3%;
	padding-bottom: 2%;
}

.admin_panel_title_wordpairs_button {
	margin-left: 3.5%;
}

th {
	text-align: center;
}

.admin_panel_list_pair_button {
	text-align: center;
}
